<style>
    .texto {
        position: absolute;
        color: rgb(13, 14, 13);
        font-size: 22px;
        background-color: rgb(136, 202, 139);
    }
</style>


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Explora Amplias Opciones</p>
                                <h5 class="font-weight-bolder">
                                    Descubre una variedad de componentes electrónicos para tus proyectos
                                </h5>
                                <p class="mb-0">
                                    <span class="text-success text-sm font-weight-bolder">+1000</span>
                                    Opciones
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                <i class="fa fa-users text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Calidad Profesional</p>
                                <h5 class="font-weight-bolder">
                                    Encuentra componentes de calidad respaldados por profesionales de la industria
                                </h5>
                                <p class="mb-0">
                                    <span class="text-success text-sm font-weight-bolder">+50</span>
                                    Tiendas
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                                <i class="fa fa-user-plus text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Aprendizaje Garantizado</p>
                                <h5 class="font-weight-bolder">
                                    Garantizamos una experiencia de aprendizaje excepcional con recursos de alta calidad
                                </h5>
                                <p class="mb-0">
                                    <span class="text-success text-sm font-weight-bolder">100%</span>
                                    Garantizado
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                                <i class="fa fa-bolt text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Beneficios Exclusivos</p>
                                <h5 class="font-weight-bolder">
                                    Descubre beneficios exclusivos al ser parte de nuestra comunidad de electrónicos
                                </h5>
                                <p class="mb-0">
                                    <span class="text-success text-sm font-weight-bolder">100%</span> Especial
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                                <i class="fa fa-leaf text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
            <div class="card z-index-2 h-100">
                <div class="card-header pb-0 pt-3 bg-transparent">

                    <h4>La mejor Herramienta para Encontrar Componentes Electrónicos</h4>

                    En SearchTronic, te ofrecemos la herramienta definitiva para simplificar tu búsqueda de componentes electrónicos. Nuestra plataforma ha sido diseñada pensando en tu comodidad, proporcionando una interfaz sencilla. Con un extenso catálogo y la capacidad de comparar precios en tiempo real, te brindamos la ventaja de encontrar los componentes que necesitas al mejor precio disponible. Eliminamos la complejidad de la búsqueda, permitiéndote concentrarte en lo que realmente importa: tus proyectos electrónicos.
                    <br>
                    <br>
                    Además, te ofrecemos actualizaciones regulares del mercado y tendencias tecnológicas, asegurándonos de que siempre estés al tanto de las últimas innovaciones. Con SearchTronic, estás un paso adelante en el emocionante mundo de la electrónica.
                    <br>
                    <br>
                    <h5>Encuentra con Facilidad</h5>
                  Descubre la libertad de crear sin limitaciones con SearchTronic. Nuestra plataforma no solo es una herramienta para encontrar componentes, sino un socio confiable en tu viaje creativo. Con una garantía de calidad respaldada por profesionales de la industria, te proporcionamos la confianza necesaria para materializar tus ideas. Únete a nuestra comunidad y experimenta la facilidad de encontrar componentes electrónicos mientras construyes tus proyectos con total confianza. ¡Bienvenido!
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card card-carousel overflow-hidden h-100 p-0">
                <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
                    <div class="carousel-inner border-radius-lg h-100">
                        <div class="carousel-item h-100 active" style="background-image: url('/assets/img/ArduinoUno.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-camera-compact text-dark opacity-10"></i>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-image: url('./assets/img/ESP32.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                                </div>



                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-image: url('./assets/img/LM555.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                                </div>


                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-image: url('./assets/img/Diodo.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


</div>