<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Búsqueda</title>
    <style>
        .title {
            text-align: 50px;
        }
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 105vh;
        }

        .container {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            max-width: 800px;
            width: 100%;
        }

        h1, h2 {
            color: #333;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #000000;
        }

        a {
            color: #3498db;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

    </style>
</head>
<body>

    <div class="container">
        <h1>Resultados de Búsqueda</h1>

        {{#if resultadosSitio1}}
            <h2>ELECTRONICA CALDAS</h2>
            <table>
                <thead>
                    <tr>
                        <th>Precio</th>
                        <th>Enlace</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{componentPrice1}}</td>
                        <td><a href="{{componentLink1}}" target="_blank">Ver Detalles</a></td>
                    </tr>
                </tbody>
            </table>
        {{/if}}

        {{#if resultadosSitio2}}
            <h2>BIGTRONICA</h2>
            <table>
                <thead>
                    <tr>
                        <th>Precio</th>
                        <th>Enlace</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{componentPrice2}}</td>
                        <td><a href="{{componentLink2}}" target="_blank">Ver Detalles</a></td>
                    </tr>
                </tbody>
            </table>
        {{/if}}

        {{#if resultadosNulos}}
            <p>No se encontraron resultados en ninguno de los sitios.</p>
        {{/if}}
    </div>

</body>
</html>